mixin project-card(project)
  - var subcategories = []
  - each subcategory, i in project.categories[0].subcategories
    if i === project.categories[0].subcategories.length - 1
      - subcategories += subcategory
    else
      - subcategories += subcategory + ', '

  .card
    a.btn-rectangle(href="../../projects/#{project.slug}")
      img.card-logo(src= routes.logos + project.logo)
      .title!= h.truncator(project.name, 20)
      .category!= h.truncator(subcategories, 30)

    a.btn-square(href=project.url)
      i.fa.fa-external-link-square

mixin project-top(project)
  - var subcategories = []
  - each subcategory, i in project.categories[0].subcategories
    if i === project.categories[0].subcategories.length - 1
      - subcategories += subcategory
    else
      - subcategories += subcategory + ', '
  .card
    .btn-rectangle
      img.card-logo(src= routes.logos + project.logo)
      .title!= h.truncator(project.name, 20)
      .category!= h.truncator(subcategories, 30)

    a.btn-square(href=project.url)
      i.fa.fa-external-link-square
