include ../projects/mixins
extends ../layouts/application
block title
  = project.name + ' - '
  = t.Projects
block content

  .content-side

    .section
      a.pipe(href=routes.categories)
        = t['Platform Support']

      - each cat in project.categories

        a.bar.parent(href=routes.categories + cat.slug)
          .label= cat.name

        - each subcat in cat.subcategories

          a.bar.child(href=routes.subcategories+cat.slug+'-'+subcat.slug)
            .label= subcat.name

  .content-main
    mixin project-head(project)
    mixin project-tail(project)
