extends ../layouts/application
block content

  .card
    .btn-rectangle
      img.card-logo(src= routes.logos + project.logo)
      .title= project.name
      .category= project.protocols

    a.btn-square(href=project.url)
      i.fa.fa-external-link-square

  - if(typeof project.description !== 'undefined')
    .section
      .text-block= project.description

  - if(project.notes !== "")
    .section
      .pipe Security Notes
      .text-block= project.notes

  - if(project.protocols.length > 0)
    .section
      .pipe Supported Protocols
      - for protocol in project.protocols
        a.bar(href=protocol)
          .label= protocol
          .icon: i.fa.fa-angle-right

  .section
    .pipe More Info

    a.bar(href=project.url)
      .label Official Website
      .icon: i.fa.fa-external-link

    - if(project.wikipedia_url !== '')
      a.bar(href=project.wikipedia_url)
        .label Wikipedia Article
        .icon: i.fa.fa-external-link

    - if(project.privacy_url !== '')
      a.bar(href=project.privacy_url)
        .label Privacy Policy
        .icon: i.fa.fa-external-link

    - if(project.tos_url !== '')
      a.bar(href=project.tos_url)
        .label Terms of Service
        .icon: i.fa.fa-external-link

  .section
    .pipe Source Code

    - if(project.license_url !== '')
      a.bar(href=project.license_url)
        .label Software License
        .icon: i.fa.fa-external-link
    - else
      .bar.warning Software License Unavailable

    - if(project.source_url !== '')
      a.bar(href=project.source_url)
        .label Source Code
        .icon: i.fa.fa-external-link
    - else
      .bar.warning Source Code Unavailable
