extends ../layouts/application
block content

  h2 
    a(href=categoryFile)= category.name
    |  > 
    a(href='./')= subcategory.name

  ul
    - each project in table
      li
        a(href="../../projects/#{project.slug}")
          .name= project.name
          .category= project.protocols
