extends ../layouts/application
block content

  h2 
    a(href="../../categories/#{data.category.slug}")= data.category.name
    |  > 
    a(href='./')= data.subcategory.name

  ul
    - each project in data.projects
      li
        a(href="../../projects/#{project.slug}")
          .name= project.name
          .category= project.protocols
