!!! 5
html
  include ../partials/html-head

  body
    include ../partials/header

    - each country in table

      .section

        a.h2(href=country.slug)
          | #{country.name} (#{country.cities.length})

        ul
          - each city in country.cities
            li 
              a(href="../cities/#{city.slug}")
                .name= city.name

    include ../partials/footer
