!!! 5
html
  include ../partials/html-head

  body
    include ../partials/header

    - each protocol in table

      .section

        a.h2(href=protocol.slug)
          | #{protocol.name} (#{protocol.projects.length})

        ul
          - each project in protocol.projects
            li 
              a(href="../projects/#{project.slug}")
                .name= project.name

    include ../partials/footer
