extends ../layouts/application
include ../layouts/mixins
block title
  = t.Categories
block content

  .content-main
    each platformType in platformTypes

      .section
        .pipe= platformType.name

        .bars
          each category in platformType.categories
            a.bar(href=`./${category.slug}`)
              .label
                if category.fa === 'fa-mobile'
                  i(class=`fa ${category.fa} large`)
                else
                  i(class=`fa ${category.fa}`)
                = category.name
              .icon
                i.fa.fa-angle-right.ltr
                i.fa.fa-angle-left.rtl

  .content-side
    .text-block.large!= h.marked(t['site-introduction'])
