extends ../layouts/application
block title
  = categories.name
block content

  - each category in categories

    .pipe 
      a(href="./#{category.slug}")
        | #{category.name} (#{category.subcategories.length})

    - each subcategory in category.subcategories
      a.bar(href="../subcategories/#{category.slug}-#{subcategory.slug}")
        .label= subcategory.name
        .icon: i.fa.fa-angle-right
