extends ../layouts/application
block title
  = t.Categories
block content

  .content-side
    .text-block.large!= h.marked(t['site-categories-index'])

  .content-main
    - each category in categories
      .section
        .pipe 
          a(href="./#{category.slug}")
            | #{category.name} (#{category.subcategories.length})

        .bars
          - each subcategory in category.subcategories
            a.bar(href="../subcategories/#{category.slug}-#{subcategory.slug}")
              .label= subcategory.name
              .icon: i.fa.fa-angle-right
