include ../projects/mixins
include ../layouts/mixins
include ../categories/mixins
include ../subcategories/mixins
extends ../layouts/application
block title
  = category.name + ' - '
  = t.Platforms
block content


  .content-main

    mixin category-head(category)

    - each subcategory in category.subcategories

      .area
        mixin subcategory-title(category, subcategory)

        .sections
          .align-left
            .section.free
              .pipe.positive

                = t['Free Recommendations']
                i.fa.fa-check

              - each project in subcategory.projects
                mixin project-card(project)

              mixin filler-cards(subcategory.projects)

            .section.notes
              .pipe= t.Notes
              .text-block!= t[subcategory.slug + '-notes']

          if(subcategory.projectsRejected.length > 0)
            .section.prop
              .pipe.negative
                = t.Proprietary
                i.fa.fa-times
              - each project in subcategory.projectsRejected
                .bar.negative
                  .label(title=project.name)
                    img.logo(src=routes.logosRejected + project.logo )
                    = project.name
                  .icon: i.fa.fa-ban

              mixin filler-bars(subcategory.projectsRejected)
          else
            .section.prop.empty
              .pipe= t.Proprietary

  .content-side
    .section

      .pipe
        = t.Categories

      - each subcategory in category.subcategories
        a.pipe.subtle(href="##{subcategory.slug}")= t[subcategory.name]
