include ../layouts/mixins
include ../categories/mixins
extends ../layouts/application
block title
  = category.name + ' - '
  = t.Platforms
block content

  .content-side
    .section

      a.pipe(href=routes.root)
        = t.Platforms

      - each platformType in platformTypes

        .pipe.subtle= platformType.name

        - each cat in platformType.categories

          if cat.name === category.name
            .bar.active.child
              .label
                if cat.fa === 'fa-mobile'
                  i(class="fa #{cat.fa} large")
                else
                  i(class="fa #{cat.fa}")
                = cat.name
              .icon: i.fa.fa-dot-circle-o

          else
            a.bar.child(href=routes.categories + cat.slug)
              .label
                if cat.fa === 'fa-mobile'
                  i(class="fa #{cat.fa} large")
                else
                  i(class="fa #{cat.fa}")
                = cat.name
              .icon: i.fa.fa-angle-right

  .content-main

    mixin category-head(category)

    .section
      - each subcategory in category.subcategories
        a.bar(href=routes.subcategories + category.slug + '-' + subcategory.slug)
          .label
            img.logo(src=routes.logos + subcategory.randomLogo)
            = subcategory.name
          .icon: i.fa.fa-angle-right

      mixin filler-bars(category.subcategories)
