extends ../layouts/application
block content
  
  - each protocol in table

    a.bar(href=protocol.slug)
      .label #{protocol.name} (#{protocol.projects.length})
      .icon: i.fa.fa-angle-right

    //
      ul
        - each project in protocol.projects
          li 
            a(href="../projects/#{project.slug}")
              .name= project.name
