extends ../layouts/application
block content
  
  - each protocol in table

    a.h2(href=protocol.slug)
      | #{protocol.name} (#{protocol.projects.length})

    ul
      - each project in protocol.projects
        li 
          a(href="../projects/#{project.slug}")
            .name= project.name
