mixin footer(path)

  #footer
    .content-side
      .text-block
        p.disclaimer= t['site-disclaimer']

    .content-main
      ul.languages
        li: a(href=`${routes.public}ar/${path}`) العربية
        li: a(href=`${routes.public}ca/${path}`) Català
        li: a(href=`${routes.public}de/${path}`) Deutsch
        li: a(href=`${routes.public}el/${path}`) ελληνικά
        li: a(href=`${routes.public}eo/${path}`) Esperanto
        li: a(href=`${routes.public}en/${path}`) English
        li: a(href=`${routes.public}es/${path}`) Español
        li: a(href=`${routes.public}fa/${path}`) فارسی
        li: a(href=`${routes.public}fi/${path}`) Suomi
        li: a(href=`${routes.public}fr/${path}`) Français
        li: a(href=`${routes.public}he/${path}`) עברית
        li: a(href=`${routes.public}hi/${path}`) हिन्दी
        li: a(href=`${routes.public}io/${path}`) Ido
        li: a(href=`${routes.public}it/${path}`) Italiano
        li: a(href=`${routes.public}ja/${path}`) 日本語
        li: a(href=`${routes.public}nl/${path}`) Nederlands
        li: a(href=`${routes.public}no/${path}`) Norsk
        li: a(href=`${routes.public}pl/${path}`) Polski
        li: a(href=`${routes.public}pt/${path}`) Português
        li: a(href=`${routes.public}ru/${path}`) Русский
        li: a(href=`${routes.public}sr/${path}`) srpski
        li: a(href=`${routes.public}sr-Cyrl/${path}`) српски
        li: a(href=`${routes.public}sv/${path}`) Svenska
        li: a(href=`${routes.public}tr/${path}`) Türkçe
        li: a(href=`${routes.public}zh-CN/${path}`) 简体中文
        li: a(href=`${routes.public}zh-TW/${path}`) 繁體中文

    ul.nav
      li
        a(href="https://gitlab.com/prism-break/prism-break/issues")
          = t.Contribute
      li
        a(href='https://gitlab.com/prism-break/prism-break/blob/master/LICENSE.md')
          = t.License
      li
        a(href='https://gitlab.com/prism-break/prism-break')
          = t['Source Code']
      li
        a(href='https://gitlab.com/prism-break/prism-break/commits/master')
          = t.Updated + ': ' + h.moment().format("YYYY-MM-DD")

      li.copyright
        != "© "
        a(href="https://nylira.com") Peng Zhong 
        = h.moment().format("YYYY")
