#header
  
  #page_title
    a#brand(href=routes.root)
      strong PRISM
      span.lightning  &#9889; 
      | Break 

  ul.tabs
    li: a(href=routes.root)= t.Platforms
    li: a(href=routes.protocols)= t.Protocols
    //li: a(href=routes.categories)= t.Categories
    //li: a(href=routes.projects)= t.Projects

  //
    a.menu_toggle.btn_corner.right
      span.btn.fa-icon.bars
